body {
    background-color:#181F27 ;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.login{
    align-items: center;
    background-color: #181920;
    width: 500px;
    margin-left: 430px;
    margin-top: 100px;
    border-radius: 8px;
}

.form-login {
    width: 350px;
    border-radius: 8px;
    margin-left: 62px;
}
